@{
    ViewBag.Title = "JobHub";
}

<h1 class="text-center">@ViewBag.Title</h1>
<hr/>

<div class="container">
    <div class="row">
        <div class="col-6 text-center">
            <h3>View All Jobs</h3>
            <a asp-controller="Job" asp-action="All">
                <img class="card-img-top" style="width: 36rem;"
                     src="~/job.png" alt="Job Image">
            </a>

        </div>
        <div class="col-6 text-center">
            <h3>Enter in Business Portal </h3>
            <a asp-area="Company" asp-controller="Home" asp-action="Index">
                <img class="card-img-top" style="width: 36rem;"
                     src="~/companyIcon.png" alt="Company Image">
            </a>
        </div>
    </div>
</div>