@{
    ViewBag.Title = "JobHub";
}

<h1 class="text-center">@ViewBag.Title</h1>
<hr/>

<div class="container">
    <div class="row">
        <div class="col-6">
            <a asp-controller="User" asp-action="Login">
                <img class="card-img-top" style="width: 36rem;"
                     src="~/job.png" alt="Job Image">
            </a>
            
        </div>
        <div class="col-6">
            <a asp-area="Company" asp-controller="Home" asp-action="Index">
                <img class="card-img-top" style="width: 36rem;"
                     src="~/companyIcon.png" alt="Company Image">
            </a>
        </div>
    </div>
</div>