@model IEnumerable<CompanyViewModel>

@{
    ViewBag.Title = "Company Dashboard";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="text-center row">
    <a asp-controller="Company" asp-action="Create">
        <button class="btn btn-success" style="width: 600px; height: 70px; font-size: 20px; font-weight: bold">Create a Company</button>
    </a>
</div>

<hr/>
<div class="text-center row">
    @if (!Model.Any())
    {
        <h2>You do not own companies</h2>
        
    }
    else
    {
        @foreach (var company in Model)
        {
            <div class="card col-4" style="width: 20rem;">
                <img class="card-img-top" style="width: 18rem;"
                     src="~/companyIcon.png" alt="Company Image">
                <div class="card-body">
                    <h5 class="card-title mt-1">@company.Name</h5>
                </div>
            
                <form>
                    <a asp-controller="Company" asp-action="Details" asp-route-id="@company.Id"
                       class="btn btn-success">Details</a>
                </form>
            </div>
        }
    }
    

</div>

